.payment-main {
  /*display: grid;
  grid-template-columns: [first] 100% [end];
  grid-template-rows: [row1-start] 20% [row1-end] 20% [third-line] 20% [fourth-line] 30% [fifth-line] 10% [last-line];*/
  display:flex;
  flex-direction: column;
  background-color: #fff;
  /*height:100vh;*/
  width:20vw;
  position: relative;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  border-radius: 4px;
  color: #505763;
  padding: 3px;
}

/*.preview-window {
	  display:flex;
	  flex-direction: column;

    opacity: 1;
    visibility: visible;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url( ./icons/Assignments.png) no-repeat;
    background-size: auto 50%;
    background-position: 50%;
    transition: transform .15s ease-in-out;
        box-sizing: border-box;
        color: #fff;
    font-weight: 700;
        text-align: center;
        cursor: pointer;
          font-family:'Open Sans', sans-serif;
            font-size: 15px;
    line-height: 1.43;
        -webkit-font-smoothing: antialiased;
        z-index: 1;
}*/
.preview-window {
	display: flex;
	flex-direction: column;
	justify-content: center;
/*	background: url(./icons/Assignments.png) no-repeat;
  background-position: 50% 50%;
  background-size: 10%;
  position:absolute;*/
}
/*.preview-window span {

  position: absolute;
  margin-left: 25%;
  font-size: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
  font-family:'Open Sans', sans-serif;

}*/

.preview-window span {

  position: absolute;
  margin-left: 25%;
  font-size: 15px;
  top:20%;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 700;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
  font-family:'Open Sans', sans-serif;

}

.preview-window .icons {

  position: absolute;
  background-size: auto 50%;
  background-position: 50%;
  height:40px;
  width: 40px;
  z-index: 10;
  left: 40%;

}

.preview-window .icons:hover {

  position: absolute;
  background-size: auto 50%;
  background-position: 50%;
  height:60px;
  width: 60px;
  z-index: 10;
  left: 35%;

}

.preview-image {
  width: 100%;
  height: auto;
  position:relative;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.price {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
  font-family:'Open Sans', sans-serif;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 5px;
  margin-left:10px;
  margin-right:10px;
  position:relative;
}

.price .sale-price {
  color: #505763;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-right: 10px;
  position:relative;
}

.price .original-price {
    color: #a1a7b3;
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
    margin-right: 10px;
    text-decoration: line-through;
}

.price .percent-sale {
  color: #a1a7b3;
    font-size: 18px;
    font-weight: 200;
    line-height: 40px;
    margin-right: 10px;	
}

.sale-time-left {
  color: #208058;
  font-size: 14px;
  margin-top: 5px;
  margin-left:10px; 
  margin-right:10px;
}

.purchase-main {
  display:flex;
  flex-direction: column;
  justify-content: center;

}
.buy-now-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
/*  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  color: #fff;
  background-color: #ec5252;
  width: 90%;
  margin:10px;
  border: 1px solid transparent;
  padding: 16px 12px;
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;

}

.buy-now-button:hover {
  background-color: rgba(206,131,132,100);
}
.buy-modal {
	display:flex;
	flex-direction: column;
	position:absolute;
	top: 30%;
  left: 50%;
  height: 50vh;
  transform: translate(-50%, -50%);
	border: 1px solid #ccc;
	background: #fff;
	overflow: auto;
	overflow-scrolling: touch;
	border-radius: 4px;
	outline: none;
	opacity: 1;
}
.modal-header {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width:100%;
	height: 70px;
  background-color: #f2f3f5;
  border-bottom: 1px solid #29303b;
  border-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #29303b;
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  line-height: 1.43;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

.modal-header h2 {
  margin:0;	
}

.modal-submit {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
/*  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  color: #fff;
  background-color: #ec5252;
  width: 90%;
  height: 50px;
  margin: 20px;
  border: 1px solid transparent;
  padding: 16px 12px;
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;

}

.modal-submit:hover {

  background-color: rgba(206,131,132,100);

}

/*.modal-checkbox {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    left: -.11em;
    top: .16em;
    color: #505763;
    transition: all .2s;
    content: "\F00C";
    margin-left: 2px;
    font-size: .85em;
    box-sizing: border-box;

}*/

.listserve {
    display: inline-block;
    line-height: 1.43;
    text-align: left;
    padding-left: .35em;
    cursor: pointer;
        font-weight: 400;
    font-size: 15px;
    color: #29303b;
    font-family:'Open Sans';
    margin-left:20px;
    margin-top: 10px;
}

.privacy {
    display: inline-block;
    line-height: 1.43;
    text-align: left;
    padding-left: .35em;
    cursor: pointer;
        font-weight: 400;
    font-size: 15px;
    color: #29303b;
    font-family:'Open Sans';
    margin-left:20px;
    margin-top: 10px;  

}

.modal-footer {
  
	padding: 5px 0 20px;
	margin: 20px;
	border-top: 1px solid #29303b;
  border-radius: 0;
	text-align: center;
	box-sizing: border-box;
	color: #29303b;
	font-size: 15px;
	line-height: 1.43;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	font-family:'Open Sans', sans-serif;
}

.close-modal {

  display: inline-block;
  color: #505763;
  font-size: 25px;
  font-weight: 400;
  height: 25px;
  width:25px;
  top:0;
  right:0;
  opacity: 1;
  z-index: 1;
  padding: 0 7px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  float: right;
  line-height: 1;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  font-family:'Open Sans', sans-serif;

}

.modal-form {
	display: flex;
	flex-direction: column;
 justify-content: center;

}
.info-input {
  height: 30px;
  padding: 6px 10px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-size: 13px;
  line-height: 1.287;
  border-radius: 2px;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out;
  background-color: #fff;
  background-image: none;
  /*background:url(./icons/envelope.png) no-repeat;
  background-position: left 50%;*/
  border: 1px solid #cacbcc;
  font-family:'Open Sans',sans-serif;

}
/*
.info-input .mail {
  height: 30px;
  padding: 6px 10px;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; 
  font-size: 13px;
  line-height: 1.287;
  border-radius: 2px;
  z-index: 2;
  float: left;
  margin-bottom: 0;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out;
  background-color: #fff;
  background-image: none;
  background:url(./icons/envelope.png) no-repeat;
  background-position: left 50%;
  border: 1px solid #cacbcc;
  font-family:'Open Sans',sans-serif;

}
*/


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); 
}

.cart-main .cart-button {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
/*  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;*/
  color:  #686f7a;
  border-color: black;
  width: 90%;
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px 12px;
  font-size: 15px;
  line-height: 1.35135;
  border-radius: 2px;

}

.cart-button:hover {
  background-color: rgba(240,240,240,100);
}

.money-back-gary {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  color: #505763;
  font-family:'Open Sans', sans-serif;
}

.info-details {
	display: flex;
	flex-direction: column;
  font-size: 12px;
  font-weight: 400;
  margin:10px;
  color: #505763;
  font-family:'Open Sans', sans-serif;


}
.icons {
  flex: 0 0 auto;
  min-width: 1px;
  margin-right: 6px;
  padding-top: 3px;
  width: 15px;
  vertical-align: -8%;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  color: #505763;
}

strong {
  font-weight: 700;
  box-sizing: border-box;
  font-family:'Open Sans',sans-serif;
  font-size: 15px;
  line-height: 1.43;
  color: #505763;
  -webkit-font-smoothing: antialiased;

}

.coupon {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.coupon-button:hover {
  color:#505763;
}

.coupon-button {
    padding: 6px 10px;
    font-size: 15px;
    line-height: 1.35135;
    border-radius: 2px;
    display: block;
    width:auto;
    border-color: transparent;
    background-color: transparent;
    color: #007791;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-family:'Open Sans',sans-serif;
    -webkit-appearance: button;
}

.coupon-form {
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  margin: 10px;

}
.coupon-submit {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 34px;
    width:auto;
    font-size: 13px;
    line-height: 1.287;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    user-select: none;
    font-family:'Open Sans',sans-serif;
    -webkit-appearance: button;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;

}
.coupon-submit:hover {
  background-color: rgba(206,131,132,100);
}

.coupon-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  justify-content: center;
  height: 20px;
  width: auto;
  padding: 6px 10px;
  font-size: 13px;
  line-height: 1.287;
  border-radius: 2px;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  transition: border-color .08s ease-in-out,box-shadow .08s ease-in-out;
  background-color: #fff;
  background-image: none;
  border: 1px solid #cacbcc;
  border-right: 0px;
  font-family:'Open Sans',sans-serif;     
}
/*.introduction-asset .introduction-asset__placeholder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303b);
    color: #fff;
    font-weight: 700;
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #ec5252;
    border: 1px solid transparent;
}*/

/*.preview-window img {
  height:200px;
  width:150px;
}

*/
/*.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/
/*.play-button-trigger .play-button {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(/staticx/udemy/js/webpack/icon-play.ac3f32e….svg) no-repeat;
    background-size: auto 50%;
    background-position: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    -moz-transition: -moz-transform .15s ease-in-out;
    -o-transition: -o-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
}*/





/*
fonts:
font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;*/





